<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.15.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Thibault Mroz | Dev Freelance</title>
</head>

<div class="modal" id="site-bds">
  <div class="modal-box w-11/12" style="max-width: 64rem;">
      <div class="carousel carousel-center rounded-box">
          <div class="carousel-item">
          <img src="/static/img/bds-home.png" width="833" alt="" />
          </div> 
          <div class="carousel-item">
          <img src="/static/img/bds-location.png" width="833" alt="" />
          </div> 
          <div class="carousel-item">
          <img src="/static/img/bds-photo.png" width="833" alt="" />
          </div> 
          <div class="carousel-item">
          <img src="/static/img/bds-calendrier.png" width="833" alt="" />
          </div> 
      </div>
  
      <div class="flex justify-center items-center mt-8 text-black text-lg font-bold">Site Responsive (s'adapte aux dimensions de la fenêtre)
      </div>
  
      <div class="modal-action">
      <a href="#portfolio" class="btn">Yay!</a>
      </div>
  </div>
  </div>
  
<div class="modal" id="tombola-bds">
  <div class="modal-box w-11/12" style="max-width: 64rem;">
      <div class="carousel carousel-center rounded-box">
          <div class="carousel-item">
          <img src="/static/img/tombola-home.png" width="800" alt="" />
          </div> 
          <div class="carousel-item">
          <img src="/static/img/tombola-form.png" width="800" alt="" />
          </div> 
          <div class="carousel-item"> 
          <img src="/static/img/tombola-checkout.png" width="800" alt="" />
          </div> 
      </div>
  
      <div class="flex justify-center items-center mt-8 text-black text-lg font-bold">Site Responsive (s'adapte aux dimensions de la fenêtre)
      </div>
  
      <div class="modal-action">
      <a href="#portfolio" class="btn">Yay!</a>
      </div>
  </div>
  </div>
  

<div class="modal" id="yujin">
<div class="modal-box w-11/12" style="max-width: 64rem;">
    <div class="carousel carousel-center rounded-box">
        <div class="carousel-item">
        <img src="/static/img/yujin-home.png" width="833" alt="" />
        </div> 
        <div class="carousel-item">
        <img src="/static/img/yujin-home2.png" width="833" alt="" />
        </div> 
        <div class="carousel-item">
        <img src="/static/img/yujin-shop.png" width="833" alt="" />
        </div> 
        <div class="carousel-item">
        <img src="/static/img/yujin-embroidery.png" width="833" alt="" />
        </div> 
        <div class="carousel-item">
        <img src="/static/img/yujin-contact.png" width="833" alt="" />
        </div> 
    </div>

    <a href="https://elthib.pythonanywhere.com/home" target="_blank" class="flex justify-center items-center mt-8 text-black text-lg font-bold">Visiter le site 
        <span uk-icon="arrow-right"></span>
    </a>

    <div class="modal-action">
    <a href="#portfolio" class="btn">Yay!</a>
    </div>
</div>
</div>

<div class="modal" id="erudite">
    <div class="modal-box w-11/12" style="max-width: 64rem;">
        <div class="carousel carousel-center rounded-box">
            <div class="carousel-item">
            <img src="/static/img/eru-1.png" width="833" alt="" />
            </div> 
            <div class="carousel-item">
            <img src="/static/img/eru-2.png" width="833" alt="" />
            </div> 
            <div class="carousel-item">
            <img src="/static/img/eru-3.png" width="833" alt="" />
            </div> 
            <div class="carousel-item">
            <img src="/static/img/eru-4.png" width="833" alt="" />
            </div> 
            <div class="carousel-item">
            <img src="/static/img/eru-fin.png" width="833" alt="" />
            </div> 
        </div>
    
        <div class="flex justify-center items-center mt-8 text-black text-lg font-bold">Site Responsive (s'adapte aux dimensions de la fenêtre)
        </div>
    
        <div class="modal-action">
        <a href="#portfolio" class="btn">Yay!</a>
        </div>
    </div>
    </div>

<body class=" dark:bg-white">
    <header class="flex bg-fond-bleu text-white justify-around items-center py-4" >
        <div class="grid grid-cols-2 place-items-center justify-items-center uk-animation-fade" style="animation-duration: 1000ms;">
            <img src="/static/img/thib-animoji.PNG" class="rounded-full" width="80" alt="photo de moi">
            <div class="hidden lg:flex text-xl font-bold uk-animation-fade" style="animation-duration: 1000ms;">Thibault Mroz</div>
        </div>

        <ul class="hidden lg:grid grid-cols-4 gap-x-10 uk-nav uk-animation-fade" style="animation-duration: 1000ms;" uk-scrollspy-nav="cls: 'active-link'; closest: li; scroll: true">
            <li><a href="#profil" class="text-lg hover:text-blue-100" uk-scroll>Profil</a></li>
            <li><a href="#outils" class="text-lg hover:text-blue-100" uk-scroll>Mes Outils</a></li>
            <li><a href="#portfolio" class="text-lg hover:text-blue-100" uk-scroll>Portfolio</a></li>
            <li><a href="#contact" class="text-lg hover:text-blue-100" uk-scroll>Contact</a></li>
        </ul>

        <div class="dropdown lg:hidden uk-animation-fade" style="animation-duration: 1000ms; z-index: 1;">
            <label tabindex="0" class="btn m-1 bg-white hover:bg-blue-100" style="color: #012b70;">Menu</label>
            <ul tabindex="0" class="dropdown-content menu p-2 bg-white rounded-box w-52 text-fond-bleu">
                <li><a href="#profil" class="text-lg hover:text-blue-100 active:bg-fond-bleu active:text-white" uk-scroll>Profil</a></li>
                <li><a href="#outils" class="text-lg hover:text-blue-100 active:bg-fond-bleu active:text-white" uk-scroll>Mes Outils</a></li>
                <li><a href="#portfolio" class="text-lg hover:text-blue-100 active:bg-fond-bleu active:text-white" uk-scroll>Portfolio</a></li>
                <li><a href="#contact" class="text-lg hover:text-blue-100 active:bg-fond-bleu active:text-white" uk-scroll>Contact</a></li>
            </ul>
          </div>

    </header>

    <section id="test" class="flex items-center justify-center" style="background-image: url('/static/img/laplagne.jpg'); background-size: cover; height: 100vh; background-repeat: no-repeat;">
        <div class="uk-animation-fade" style="animation-duration: 1000ms; margin-top: -20%;" uk-parallax="y: 100;">
            <div class="text-white text-6xl text-center">Thibault Mroz</div>
            <div class="text-white text-4xl mt-12 text-center">Développeur Web Freelance</div>
            <div class="text-white text-2xl mt-4 text-center">Un autodidacte pour réaliser vos projets</div>
            <a
                class="text-black uk-link-reset flex items-center justify-center px-8 py-4 mt-12 font-bold transition bg-blue-100 border-4 border-black rounded-xl focus:outline-none focus:ring shadow-[6px_6px_0_0_#000] hover:shadow-none active:bg-pink-50"
                href="#profil" uk-scroll
                >
                <span class="text-black">En savoir plus</span><span aria-hidden="true" class="ml-1.5" role="img">🤔</span>
            </a>
        </div>
    </section>

    <section id="profil" class="bg-fond-bleu pb-16" style="background-size: cover;">
        <h3 class="text-white text-center text-3xl font-bold lg:mb-20 pt-16">
            QUI SUIS-JE ?
        </h3>

        <div class="grid grid-cols-1 lg:grid-cols-2 place-content-around justify-items-center">
            <img src="/static/img/thib-clin.png" class="mt-4 lg:mt-16" width="350" alt="">
            <div class="text-white text-justify mx-6 lg:mx-0 lg:mr-28 space-y-4 text-lg">
                    <p><strong>Salut !</strong> Je m'appelle Thibault, 22 ans ! Je suis actuellement étudiant à Grenoble-INP Phelma, une école d'ingénieur. Pour intégrer cette école, j'ai fait deux ans de prépa (CPGE Math Sup / Math Spé). J'ai toujours beaucoup aimé la programmation et depuis maintenant un an, je m'intéresse beaucoup au Développement Web.</p>
                    <p><strong>Pourquoi le Développement Web ? </strong>Je me suis intéressé à ce domaine en naviguant sur internet et en découvrant des sites web très esthétiques et fonctionnels. La technologie Web a fortement évolué ce qui laisse place à une grande créativité !</p> 
                    <p><strong>Pourquoi me lancer en tant que Freelance ?</strong>J'aime me rendre utile. C'est pourquoi je veux proposer mes services pour répondre à des demandes précises. C'est aussi pour moi une très bonne opportunité d'utiliser mes compétences techniques, de communication, d'écoute et de conseil.</p> 
                    <p>Je n'ai pas de formation dans ce domaine : j'ai tout appris en autodidacte. J'ai réalisé des projets personnels pour m'entraîner que vous pourrez retrouver dans mon portfolio. Rien de mieux que des projets pour apprendre à coder et pour découvrir de nouvelles choses.</p> 
        </div>
        </div>
        
    </section>

    <section id="outils" class="grid grid-cols-1 place-content-center justify-items-center gap-y-20 py-16" style="background-size: cover;">
        <h3 class="text-fond-bleu text-3xl font-bold">Mes outils</h3>
        <p class="-mt-16 text-fond-bleu text-center">Mes compétences sont en constante amélioration car j'apprends beaucoup en réalisant des projets.</p>

        <div class="grid grid-cols-2 gap-y-8 md:grid-cols-3 lg:grid-cols-7 place-content-around justify-items-center text-xl font-bold" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 400">
            <div class="grid grid-cols-1 justify-items-center place-content-center">
                <img src="/static/img/icons8-html-5.svg" width="64" alt="">
                <h4 class="text-fond-bleu">HTML 5</h4>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center">
                <img src="/static/img/icons8-css3.svg" width="64" alt="">
                <h4 class="text-fond-bleu">CSS 3</h4>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center gap-y-2">
                <img src="/static/img/tailwind-css-2.svg" width="64" alt="">
                <h4 class="text-fond-bleu">Tailwindcss</h4>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center gap-y-2">
                <img src="/static/img/uikit-logo-8CE34FE030-seeklogo.com.png" width="64" alt="">
                <h4 class="text-fond-bleu">UIkit</h4>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center">
                <img src="/static/img/icons8-javascript.svg" width="64" alt="">
                <h4 class="text-fond-bleu">JavaScript</h4>
                <h5 class="text-fond-bleu">(en apprentissage)</h5>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center">
                <img src="/static/img/icons8-python.svg" width="64" alt="">
                <h4 class="text-fond-bleu">Python</h4>
            </div>
            <div class="grid grid-cols-1 justify-items-center place-content-center">
                <img src="/static/img/icons8-github.svg" width="64" alt="">
                <h4 class="text-fond-bleu">GitHub</h4>
            </div>
        </div>
    </section>


    <section id="portfolio" class="bg-fond-bleu pb-16" style="background-size: cover;">
        <h3 class="text-white text-center text-3xl font-bold mb-20 pt-16">
            PORTFOLIO
        </h3>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-32 gap-y-24 place-content-around justify-items-center">
      <a href="#site-bds" class="bloc order-2 lg:order-1 uk-link-reset overflow-hidden rounded-2xl w-3/4 transition hover:scale-110" uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">
        <img class="object-cover object-top w-full h-60" src="/static/img/bds-home.png" alt="Page d'accueil du site du BDS" />
      
        <div class="p-4 bg-gray-900">
          <h5 class="text-lg text-pink-50 font-bold">Site BDS Phelma | Premier Projet</h5>
      
          <p class="mt-1 text-gray-500">Premier projet personnel / Frontend / Backend</p>
          <p class="mt-1 text-gray-500">Site web du <strong class="font-bold">BDS de Phelma</strong></p>
          <p class="mt-1 text-gray-500">Site Dynamique avec système de réservation de matériel sportif</p>
          <div class="flex items-center justify-start">
                <p class="mt-1 text-gray-500 pr-5">Outils utilisés :</p>

                <ul class="hidden xl:flex space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""> HTML</li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""> CSS</li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt="">Tailwindcss</li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""> Python</li>
                </ul>
                <ul class="flex xl:hidden space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""></li>
                </ul>
            </div>
        </div>
      </a>

        <div class="mx-4 lg:-ml-24 order-1 lg:order-2 place-self-center">
            <h5 class="text-white text-center text-2xl font-bold mb-12" uk-scrollspy="uk-animation-fade">Site Vitrine : présentation d'association</h5>
            <ul class="text-white space-y-6 text-xl">
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Un design <strong>moderne</strong> et <strong>épuré</strong> pour ques les utilisateurs s'y retrouvent facilement.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Site <strong>optimisé</strong> pour Ordinateur, Tablette et Téléphone.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Formulaire <strong>Design</strong> pour réserver du matériel sportif.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Utilisation de l'<strong>API Google Sheet</strong> pour partager les réponses du formulaire.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Envoie de mail automatique pour prévenir d'une nouvelle réponse.</li>
            </ul>
        </div>

        <div class="mx-4 lg:-mr-24 order-3 place-self-center">
            <h5 class="text-white text-center text-2xl font-bold mb-12" uk-scrollspy="uk-animation-fade">Site Temporaire pour un évènement</h5>
            <ul class="text-white space-y-6 text-xl">
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Un design <strong>moderne</strong> et <strong>épuré</strong> pour ques les utilisateurs s'y retrouvent facilement.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Site <strong>optimisé</strong> pour Ordinateur, Tablette et Téléphone.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Formulaire <strong>Design</strong> pour participer à l'évènement.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Sur demande du client, utilisation de l'<strong>API Microsoft Excel</strong> pour enregistrer les achats.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 <strong>Intégration</strong> du service de paiement Lydia via son API.</li>
            </ul>
        </div>


        <a href="#tombola-bds" class="bloc order-4 uk-link-reset overflow-hidden rounded-2xl w-3/4 transition hover:scale-110" uk-scrollspy="cls:uk-animation-slide-right-medium; delay: 400">
        <img class="object-cover object-top w-full h-60" src="/static/img/tombola-home.png" alt="Page d'accueil du site de la tombola" />
        
        <div class="p-4 bg-gray-900">
            <h5 class="text-lg text-pink-50 font-bold">Tombola BDS | Tombola en ligne</h5>
        
            <p class="mt-1 text-gray-500">Site Fonctionnel / Frontend / Backend</p>
            <p class="mt-1 text-gray-500">Site permettant d'acheter des tickets de tombola <strong class="font-bold">(Tombola BDS Phelma)</strong></p>
            <p class="mt-1 text-gray-500">Site Dynamique avec <span class="font-bold">intégration Lydia</span>  pour le paiement</p>
            <div class="flex items-center justify-start">
                <p class="mt-1 text-gray-500 pr-5">Outils utilisés :</p>

                <ul class="hidden xl:flex space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""> HTML</li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""> CSS</li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt="">Tailwindcss</li>
                    <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""> JS</li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""> Python</li>
                </ul>
                <ul class="flex xl:hidden space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""></li>
                </ul>
            </div>
        </div>
        </a>

        <a href="#yujin" class="bloc order-6 lg:order-5 uk-link-reset overflow-hidden rounded-2xl w-3/4 transition hover:scale-110" uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">
        <img class="object-cover object-top w-full h-60" src="/static/img/yujin-home.png" alt="Page d'accueil Yujin" />
        
        <div class="p-4 bg-gray-900">
            <h5 class="text-lg text-pink-50 font-bold">Yujin | Marque de Vêtement (yujin.shop)</h5>
        
            <p class="mt-1 text-gray-500">Projet Personnel / Frontend</p>
            <p class="mt-1 text-gray-500">Reproduction et Amélioration de la partie Frontend du site <strong class="font-bold">yujin.shop</strong></p>
            <p class="mt-1 text-gray-500">Site Responsive</p>
            <div class="flex items-center justify-start">
                <p class="mt-1 text-gray-500 pr-5">Outils utilisés :</p>

                <ul class="hidden xl:flex space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""> HTML</li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""> CSS</li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt="">Tailwindcss</li>
                    <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""> JS</li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""> Python</li>
                </ul>
                <ul class="flex xl:hidden space-x-3 mt-1 text-white">
                    <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""></li>
                    <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""></li>
                </ul>
            </div>
        </div>
        </a>

        <div class="mx-4 lg:-ml-24 order-5 lg:order-6 place-self-center">
            <h5 class="text-white text-center text-2xl font-bold mb-12" uk-scrollspy="uk-animation-fade">Mise en page d'un site d'e-commerce</h5>
            <ul class="text-white space-y-6 text-xl">
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Un design <strong>moderne</strong> et  <strong>épuré</strong> pour ques les utilisateurs s'y retrouvent facilement.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Site <strong>optimisé</strong> pour Ordinateur, Tablette et Téléphone.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Effet de parallax pour <strong>une navigation agréable</strong>.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Mise en place d'un caroussel <strong>responsive</strong> pour présenter les produits.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium, delay: 400"><a href="https://elthib.pythonanywhere.com/home">🔗 Site Web Actif</a></li>
            </ul>
        </div>

        <div class="mx-4 lg:ml-24 order-7 place-self-center">
            <h5 class="text-white text-center text-2xl font-bold mb-12" uk-scrollspy="uk-animation-fade">WebApp pour un Projet</h5>
            <ul class="text-white space-y-6 text-xl">
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Un design <strong>moderne</strong> et <strong>épuré</strong> pour ques les utilisateurs s'y retrouvent facilement.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Site <strong>optimisé</strong> pour Ordinateur, Tablette et Téléphone.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Création d'un formulaire <strong>multi-step</strong> pour une meilleure expérience.</li>
                <li uk-scrollspy="cls:uk-animation-slide-left-medium; delay: 400">👉🏼 Sur demande du client, utilisation de l'<strong>API Microsoft Excel</strong> pour mettre en page toutes les données.</li>
            </ul>
        </div>

        <a href="#erudite" class="bloc order-8 uk-link-reset overflow-hidden rounded-2xl w-3/4 transition hover:scale-110" uk-scrollspy="cls:uk-animation-slide-right-medium; delay: 400">
            <img class="object-cover object-top w-full h-60" src="/static/img/eru-1.png" alt="Page d'accueil du site du BDS" />
          
            <div class="p-4 bg-gray-900">
              <h5 class="text-lg text-pink-50 font-bold">Projet Erudite | Formulaire en ligne</h5>
          
              <p class="mt-1 text-gray-500">Projet / Frontend / Backend</p>
              <p class="mt-1 text-gray-500">Réalisation d'un <strong class="font-bold">formulaire en ligne</strong></p>
              <p class="mt-1 text-gray-500">Mise en place des données dans un classeur Excel</p>
              <div class="flex items-center justify-start">
                    <p class="mt-1 text-gray-500 pr-5">Outils utilisés :</p>
    
                    <ul class="hidden xl:flex space-x-3 mt-1 text-white">
                        <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""> HTML</li>
                        <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""> CSS</li>
                        <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt="">Tailwindcss</li>
                        <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""> JS</li>
                        <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""> Python</li>
                    </ul>
                    <ul class="flex xl:hidden space-x-3 mt-1 text-white">
                        <li class="flex items-center"><img src="/static/img/icons8-html-5.svg" width="25" alt=""></li>
                        <li class="flex items-center"><img src="/static/img/icons8-css3.svg" width="25" alt=""></li>
                        <li class="flex items-center"><img src="/static/img/tailwind-css-2.svg" width="25" alt=""></li>
                        <li class="flex items-center"><img src="/static/img/icons8-javascript.svg" width="25" alt=""></li>
                        <li class="flex items-center"><img src="/static/img/icons8-python.svg" width="25" alt=""></li>
                    </ul>
                </div>
            </div>
          </a>
    </div>
    </section>


    <section id="contact" class="pb-16" style="background-size: cover;">
        <h3 class="text-fond-bleu text-center text-3xl font-bold mb-4 pt-16">
            CONTACT
        </h3>
        <div class="text-fond-bleu text-center text-xl">Une idée ? N'hésitez pas à me faire part de toutes vos envies ! Je serais ravi d'en discuter avec vous</div>
        <form action="#" method="POST" class="flex items-center justify-center h-full mt-12">
            <div class="grid grid-cols-1 gap-y-8 w-1/2">
                <div class="grid grid-cols-1 lg:grid-cols-2 place-content-center gap-y-6">
                    <div class="relative w-full lg:w-3/4 justify-self-center lg:justify-self-start">
                        <input class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none required:border-fond-bleu valid:border-green-700" type="text" name="prenom" id="prenom" autocomplete="name" placeholder="Prénom *" required>
                        <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2
                        peer-focus:-top-3.5 peer-focus:text-gray-700 peer-focus:text-sm" for="prenom">Prénom *</label>
                    </div>

                    <div class="relative w-full lg:w-3/4 justify-self-center lg:justify-self-end">
                        <input class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none required:border-fond-bleu valid:border-green-700" type="text" name="nom" id="nom" autocomplete="name" placeholder="Nom *" required>
                        <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2
                        peer-focus:-top-3.5 peer-focus:text-gray-700 peer-focus:text-sm" for="nom">Nom *</label>
                    </div>
                </div>

                <div class="grid grid-cols-1 lg:grid-cols-2 place-content-center gap-y-6">
                    <div class="relative w-full lg:w-3/4 justify-self-center lg:justify-self-start">
                        <input class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none required:border-fond-bleu valid:border-green-700" type="email" name="mail" id="mail" autocomplete="email" placeholder="Ton adresse mail *" required>
                        <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2
                        peer-focus:-top-3.5 peer-focus:text-gray-700 peer-focus:text-sm" for="mail">Ton adresse mail *</label>
                    </div>

                    <div class="relative w-full lg:w-3/4 justify-self-center lg:justify-self-end">
                        <input class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none valid:border-green-700" type="tel" name="tel" id="tel" autocomplete="tel" placeholder="Numéro de téléphone" pattern="[0-9]{10}">
                        <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2
                        peer-focus:-top-3.5 peer-focus:text-gray-700 peer-focus:text-sm" for="tel">Numéro de téléphone</label>
                    </div>
                </div>
       
                <div class="relative">
                    <input class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none required:border-fond-bleu valid:border-green-700" type="text" name="objet" id="objet" placeholder="Objet de la demande *" required>
                    <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-focus:-top-3.5 peer-focus:text-gray-700 peer-focus:text-sm"  for="objet">Objet de la demande *</label>
                </div>

                <div class="relative">
                    <textarea name="message" id="message" cols="30" rows="10" class="peer w-full placeholder-transparent border-0 border-b-2 border-fond-bleu focus:ring-0 focus:outline-none required:border-fond-bleu valid:border-green-700" placeholder="Ton message *" required></textarea>
                    <label class="absolute left-0 -top-3.5 text-gray-700 text-sm transition-all peer-placeholder-shown:text-gray-400 peer-placeholder-shown:text-base peer-placeholder-shown:top-2 peer-focus:-top-4 peer-focus:text-gray-700 peer-focus:text-sm"  for="message">Ton message *</label>
                </div>

                <div class="flex justify-center">
                    <button type="submit" method="POST" class="px-4 py-3 font-bold text-white rounded-lg focus:ring-2 focus:outline-none transition hover:translate-x-2"  id="submit-button" style="background-color: #012b70;">Envoyer <img src="/static/img/icons8-envoi-de-courriel-30.png" class="inline" width="20" alt=""></button>
                </div>
            </div>
        </form>
    </section>

    <!-- Affichage du message si le mail a été envoyé -->
    {% if ok %}
        <script>alert('La demande a bien été envoyée ! Je tâcherais de vous répondre dans les plus brefs délais !')</script>
    {% endif %}
</body>
</html>